<%- include("_header") %>

<body>
  <h1>Edit</h1>

  <form
    action="/product/update/<%= product.id %>"
    method="POST"
  >
    <label for="name">Name</label>
    <input
      id="name"
      name="name"
      type="text"
      value="<%= product.name %>"
      placeholder="Name ..."
    />

    <br />

    <label for="price">Price</label>
    <input
      id="price"
      name="price"
      value="<%= product.price %>"
      type="number"
      placeholder="Price ..."
    />

    <br />

    <label for="quantity">Quantity</label>
    <input
      id="quantity"
      name="quantity"
      value="<%= product.quantity %>"
      type="number"
      placeholder="Quantity ..."
    />

    <button type="submit">Submit</button>
  </form>
</body>

<%- include("_footer") %>
