<%- include("_header") %>

<body>
  <h1>Index</h1>

  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th><a href="/product/create">Create</a></th>
      </tr>
    </thead>

    <tbody>
      <% for(let i = 0; i < products.length; i++){ %>
      <tr>
        <td><%= products[i].id %></td>
        <td><%= products[i].name %></td>
        <td><%= products[i].price %></td>
        <td><%= products[i].quantity %></td>
        <td>
          <a href="/product/edit/<%= products[i].id %>">Edit</a>
          <a href="/product/delete/<%= products[i].id %>">Delete</a>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</body>

<%- include("_footer") %>
